{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href={% static "hacka/lib/bootstrap-3.3.4-dist/css/bootstrap.css" %}>
    <link rel="stylesheet" href={% static "hacka/style/bootstrap-rtl.min.css" %}>
    <link rel="stylesheet" href={% static "hacka/style/toastr.min.css" %}>

    <!-- Optional theme -->
    <link rel="stylesheet" href={% static "hacka/lib/bootstrap-3.3.4-dist/css/bootstrap-theme.css" %}>

    <link rel="stylesheet" href={% static "hacka/style/styles.css" %}>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {% if city %}
                                 هاکا{ {{ city.name }} }
                            {% else %}
                                هاکا{ گلوبال }
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for city in cities %}
                            <li><a href="/{{ city.english_name }}"> هاکا{ {{ city.name }} } </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div>
            {% if user.is_authenticated %}
                <a href='/logout/' class="pull-left navbar-brand">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
                <div class="pull-left navbar-header">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">رویداد های من</a></li>
                                <li><a href="#">تغییر پروفایل</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href='/login/' class="pull-left navbar-brand">
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
                <a href='/signup/' class="pull-left navbar-brand">
                    <span class="glyphicon glyphicon-registration-mark"></span>
                </a>
            {% endif %}
            <!-- Collect the nav links, forms, and other content for toggling -->

        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
    <script src={% static "hacka/lib/jquery.js" %}></script>
    <script src={% static "hacka/lib/bootstrap-3.3.4-dist/js/bootstrap.js" %}></script>
    <script src={% static "hacka/lib/toastr.min.js" %}></script>
    {% block scripts %}
    {% endblock %}
    <script type="text/javascript">
        {% if alert_message %}
            toastr["{{ alert_type|default:'error' }}"]("{{ alert_message }}", "{{ alert_title }}");
        {% endif %}
    </script>
    <style>
        body {
            background-image: url("{{ city.background.url }}");
        }
    </style>
</body>
</html>