{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="section card-box" id="about-section">
        <div class="row">
            <div class="col-md-4" id="about-img">
                <div class="img"></div>
            </div>
            <div class="col-md-8" id="about-desc">
                <h1>هاکا تهران</h1>
                <h3>لورم ایپسوم هاکا خره بیا بریم دشت</h3>
            </div>
        </div>
    </div>
    <div class="section card-box" id="hot-event-section">

    </div>
    <div class="section card-box" id="hot-events-section">

    </div>
    <div class="section card-box" id="contact-section">

    </div>
{% endblock %}