{% extends 'base.html' %}
{% load jformat %}
{% load static %}
{% block container %}
    <div class="section card-box" id="user-events-section">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <h3 class="table-subject">رویداد های ثبت نام شده</h3>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-box">
                    <table dir="rtl" class="table list-table">
                        <thead class="list-table-head">
                        <tr>
                            <th class="list-table-head-item list-table-head-numb">ردیف</th>
                            <th class="list-table-head-item list-table-head-title">عنوان</th>
                            <th class="list-table-head-item list-table-head-time">زمان</th>
                            <th class="list-table-head-item list-table-head-status">وضعیت</th>
                            <th class="list-table-head-item list-table-head-dismiss">حذف</th>
                        </tr>
                        </thead>
                        <tbody class="list-table-body">
                        {% for event in events %}
                        <tr data-href="#" class="list-table-body-tr">
                            <td class="list-table-body-item">{{ forloop.counter }}</td>
                            <td class="list-table-body-item"><a href="{{ event.event.get_absolute_url }}">{{ event.event.title }}</a></td>
                            <td class="list-table-body-item event-time invisible">{{ event.event.start.togregorian|date:'c' }}</td>
                            <td class="list-table-body-item">{{ event.get_status_display }}</td>
                            <td class="list-table-body-item"><a href="/user/?remove_id={{ event.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var timeElement = $('.event-time');
        moment.locale("fa");
        timeElement.each(function (boz) {
            $(this).html(moment($(this).html()).fromNow());
            $(this).removeClass('invisible');
        });
    });
</script>
{% endblock %}